In [1]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [5]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
a[0]

1

In [9]:
a.iloc[0]

1

In [11]:
a.iloc[[0,2,5]]

0    1
2    3
5    6
dtype: int64

In [13]:
a.iloc[2:6]

2    3
3    4
4    5
5    6
dtype: int64

In [15]:
a = pd.Series([1,2,3,4,5,6,7], index =['a','b','c','d','e','f','g'])

In [17]:
a

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [19]:
a.loc['a']

1

In [21]:
a['g']

7

In [23]:
a['a':'e']

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [25]:
a.mean()

4.0

In [27]:
a.median()

4.0

In [29]:
a.agg(['min','median','mean','max'])

min       1.0
median    4.0
mean      4.0
max       7.0
dtype: float64

In [31]:
a.agg(['min','max'])

min    1
max    7
dtype: int64

In [39]:
a = pd.DataFrame([1,2,3],[2,3,4])

In [41]:
a

   0
2  1
3  2
4  3

In [43]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [47]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [49]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [51]:
d = {'number':[0,1,2,3,4],'even':[2,4], index =[2,4],'odd':pd.Series([1,3],index=[1,3])}
pd.DatFrame(data=d,index=[0,1,2,3,4])

SyntaxError: ':' expected after dictionary key (3677627164.py, line 1)